*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(150deg, #6049f3, #542454);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #c430d7;
}

#login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: url(Guilty.jpg) no-repeat;*/
    background-color: #161a2e;
    background-size: cover;
    background-position: center 80px;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

.wrapper{
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}


input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    margin-top: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.input-box input::placeholder{
 color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 10px 5%; 
    z-index: 1000;   
    background-color: hsl(0, 0%, 25%); 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;     
    justify-content: flex-start;
    padding: 0 5%;            
    margin: 0;
}

.logo {
    width: 120px;
    margin-right: 40px;     
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;       
    transition: 0.3s;
}

.navbar li a:hover {
    background-color: hsl(0, 0%, 10%);
}


.navbar li:nth-child(7) { 
    margin-left: auto; 
}

.logo {
    width: 140px;
}

.login-btn {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    font-weight: 400;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}











.back-video{


    z-index: -1;
  top: 0;
  left: 0;
 
}

@media (min-aspect-ration: 16/9){
    .back-video{
        width: 100%;
        height: auto;
   
    }
}

@media (max-aspect-ration: 16/9){
    .back-video{
        width: auto;
        height: 100%;
 
    }
}


/* This sets up the side-by-side look */
.game {
    display: grid;
    grid-template-columns: 1fr 1.5fr; /* Split screen 50/50 */
    background: #0a0c1a;
    margin: 40px 0;
    align-items: center;
}

/* The Angled Header */
.game-header {
    background: #ff0066;
    padding: 10px 30px;
    width: fit-content;
    clip-path: polygon(50% 0, 100% 0, 90% 100%, 0% 100%);
    color: white;
}

.sf-orange { background: #ff9900; }
.gg-red { background: #cc0000; }

.game-textbox {
    background: #161a2e;
    color: white;
    padding: 30px;
    opacity: 0;
    transition: 0.5s, visibility 0.5s;
    transition-delay: 0.5s;
}

/* Ensures the video fits the box */
.game-video {
    height: 500px;
    border: 2px solid #fcf397;
    overflow: hidden;
}

.back-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}