<!Doctype html>
<html lang="en">
<head>
 <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
 <title> Calender</title> 
 <link rel = "stylesheet" href="/static/style.css">
 <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome
 /6.4.0/css/all.min.css">
</head>

<body>

      <div class="container">
        <div class="calender-container">
            <div class="calendar-header">
                <div class="nav-buttons">
                    <button class ="nav-btn" id = "prev-month">
                        <i class = "fasfa-chevron-left"> </i>
                    </button>
                    <button class ="nav-btn" id = "next-month">
                        <i class = "fasfa-chevron-right"> </i>
                    </button>
                </div>
                <div class ="month-year" id = "month-year">
                    May 2026
                </div>
            </div>

            <div class = "weekdays">
                <div class = "weekdays">Sun</div>
                <div class = "weekdays">Mon</div>
                <div class = "weekdays">Tue</div>
                <div class = "weekdays">Wed</div>
                <div class = "weekdays">Thu</div>
                <div class = "weekdays">Fri</div>
                <div class = "weekdays">Sat</div>
            </div>

            <div class ="days"

        </div>
     </div>
        

</body>
</html>


