<!DOCTYPE html>
<html>
<head>
    <title>Tournament Sign Up</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <nav>
    <div class="logo-container"> 
        <img src="/static/stick_thing.webp" class="logo" alt="Logo">
        <h2 class="nav-title">Fighting Game Club</h2>
    </div>

    <ul class="nav-links">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('calendar_page')}}">Calendar</a></li>
        <li><a href="{{url_for('tournament_page')}}">Tournaments</a></li>
        <li><a href="{{url_for('leaderboard_page')}}">Leaderboard</a></li>
        <li><a href="{{url_for('login_page')}}">Login</a></li>
        <li><a href="{{url_for('signup_page')}}">Sign up</a></li>
    </ul>
</nav>

    <main>
        <section class="signup-page-card">
            <h1>Tournament Sign Up</h1>
            <p>Sign up for an upcoming tournament.</p>

            <form class="signup-form">
                <label for="username">Username:</label>
                <input type="text" id="username" placeholder="Enter your username">

                <label for="platform">Platform:</label>
                <select id="platform">
                    <option>Steam</option>
                    <option>PlayStation</option>
                    <option>Xbox</option>
                </select>

                <label for="game">Game:</label>
                <select id="game">
                    <option>Street Fighter</option>
                    <option>Tekken</option>
                    <option>Guilty Gear</option>
                </select>

                <button type="button" onclick="showSignupMessage()">Sign Up</button>
            </form>

            <p id="signupMessage" class="signup-message"></p>
        </section>
    </main>

    <script src="static/scripts.js"></script>
</body>
</html>