<!DOCTYPE html>
<html>
<head>
    <title>Tournaments</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="/static/script.js"></script>
</head>
<body onload="showBracket('street')">
    <nav>
    <div class="logo-container"> 
        <img src="/static/stick_thing.webp" class="logo" alt="Logo">
        <h2 class="nav-title">Fighting Game Club</h2>
    </div>

    <ul class="nav-links">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('calendar_page')}}">Calendar</a></li>
        <li><a href="{{url_for('tournament_page')}}">Tournaments</a></li>
        <li><a href="{{url_for('leaderboard_page')}}">Leaderboard</a></li>
        {% if logged_in %}
            <li><a href="#" onclick="handleLogout(event)">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login_page') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>

    <main>
        <section class="signup-banner">
            <div>
                <h1>Join the Next Tournament</h1>
                <p>Sign up for upcoming Street Fighter, Tekken, and Guilty Gear events.</p>
            </div>
            <a class="signup-big-button" href="{{url_for('t_register')}}">Tournament Sign Up</a>
        </section>

        <section class="tournament-section">
            <h1>Tournament Brackets</h1>
            <p>Select a game to view the tournament bracket.</p>

            <div class="button-row">
                <button onclick="showBracket('street')">Street Fighter</button>
                <button onclick="showBracket('tekken')">Tekken</button>
                <button onclick="showBracket('guilty')">Guilty Gear</button>
            </div>

            <section id="bracketArea" class="bracket-area"></section>
        </section>
    </main>

    <script src="static/scripts.js"></script>
</body>
</html>
